@use "./variables.scss" as *;

nav{
    background-color: $primary;
    position: relative;
    z-index: 99;
    color: $grey;
    box-shadow: 0 0 5px 0 black;
    span{
        cursor: pointer;
    }
}

.social{
    a{
        color: $light;
        &:hover{
            color: $grey;
        }
    }
}