@use "./variables.scss" as *;

.jumbotron{
    background-image: url(/src/assets/img/jumbo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: $light;
    .info{
        h1{
            font-size: 3.5rem;
            .logistics{
                background-color: $elfgreentransparent;
            }
        }
    }
    .overlay{
        background-color: $blacktransparent;
    }
}