@use "./variables.scss" as *;

#network{
    position: relative;
    .up{
        top: 0;
        right: 50%;
        transform: translate(50%, -50%);
    }
    .down{
        bottom: 0;
        right: 50%;
        transform: translate(50%, 50%);
    }
    .decoration{
        display: flex;
        flex-wrap: wrap;
        width: 150px;
        align-content: flex-start;
        align-self: flex-start;
        position: absolute;
        div{
            width: 10%;
            border-radius: 50%;
            aspect-ratio: 1 / 1;
            background-color: $elfgreen;
            opacity: 0.4;
            scale: 0.3;
        }
    }
    .left{
        background-color: $woodsmoke;
        width: 50%;
        padding: 8rem 5rem 8rem 20rem;
        color: $light;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        p{
            color: $grey;
        }
        h6{
            color: $elfgreen;
        }
        h3{
            span{
                background-color: $elfgreentransparent;
                padding: 0 0.5rem;
                border-radius: 5px;
            }
        }
    }
    .right{
        width: 50%;
    }
}