$saltpan: #edf4ec;
$woodsmoke: #121117;
$capecod: #3f5050;
$bluelagoon: #048383;
$manatee: #919194;
$brown: #904d01;
$riptide: #88e2e3;
$casabianca: #f4ac4f;
$graynurse: #e5ebe5;
$outerspace: #252c2f;
$dovegray: #737373;
$gumbo: #83a7a8;
$regentgray: #7f939c;
$whiskey: #d29261;
$rivedbed: #4d5a65;
$elfgreen: #088181;
$darkwoodsmoke: #131314;
$morningglory: #8cdadc;
$primary: #21333e;
$secondary: #0dc3c3;
$light: #ffffff;
$grey: #c0c3d0;
$elfgreentransparent: #0dc3c33e;
$transparent: #ffffff00;
$blacktransparent: #0000007f;